.contact-info .fa {
    padding-right: 5px;
}

textarea {
    resize: none;
}

#contact .form-control:focus {
    border-bottom-color: #999999;
}

#contact input {
    height: 55px;
}

#contact button#submit {
    border: none;
    border-radius: 50px;
    height: 50px;
    margin-top: 24px;
}